@model IEnumerable<FirstWebMVC.Models.StudentViewModel>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<h1> Danh sách sinh viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm sinh viên mới</a>
</p>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Mã sinh viên</th>
            <th>Họ và tên</th>
            <th>Tên khoa</th>
            <th>Thao tác</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var sinh_vien in Model) {
            <tr id="row-@sinh_vien.StudentCode">
                <td>@sinh_vien.StudentCode</td>
                <td>@sinh_vien.FullName</td>
                <td>@sinh_vien.TenKhoa</td>
                <td>
                    <a asp-action= "Edit" asp-route-id="@sinh_vien.StudentCode" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@sinh_vien.StudentCode" class="btn btn-sm btn-danger" onclick="return confirm('Xác nhận muốn xóa')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>